@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body{
    margin: 0px;
}

pre{
    white-space: pre-line;
    font-family: var(--fonte3);
}

header{
    background-color: black;
}

header > h1{
    font-family: var(--fonte2);
    color: white;
    text-align: center;
    font-size: 4em;
    padding-top: 50px;
    margin: 0px;
}

header > p{
    color: white;
    font-size: 1em;
    text-align: center;
    padding-bottom: 50px;
    margin: 0px;
    font-family: var(--fonte1);
}

header > p > a{
    color: white;
    text-decoration: none;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

.bee{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}

.plane{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
}

.bee-paragraph, .plane-paragraph{
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    color: white;
    display: inline-block;
    padding: 5px;
}

footer{
    background-color: black;
    margin: 0px;
    padding: 10px;
}

footer > p{
    color: white;
    font-family: var(--fonte1);
    margin: auto;
    text-align: center;
    text-align: 1.8em;
    font-size: 2.5vh;
}

.gustavo-site{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.curso-em-video{
    text-decoration: none;
    color: white;
    font-weight: bold;
}